# Python bytecode and cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
env/
.venv/

# IDE-specific files
.vscode/
.idea/

# Log files
*.log
*.tmp

# Database files
*.db
*.sqlite
*.sqlite3

# Environment variables
.env